* { box-sizing: border-box; }
html, body { height: 100%; font-family: arial, sans-serif; }
body { margin: 0; padding: 0; }

.fixed-bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.slide {
    color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.slide-content {
    width: 40%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
}

#slide04 {
    background: url('../img/stars.gif') top left;
    background-size: cover;
}