.navbar {
    border-radius: 0;
}

.image-text {
    background-color: rgba(0,0,0,0.4);
    color: white;
    position: relative;
    top: 150px;
}

.parallax-window {
    height: 500px;
    margin-bottom: 20px;
}